<br/>
<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col">
                <div class="d-flex">
                    <img src="../../../assets/logotransparent.png" style="width:35vw" class="mx-auto"/>
                </div>
                <h1 class="display-1 text-center">Kanvio.</h1>
                <h2 class="display-4 text-center">For all your drawing needs.</h2>
            </div>
        </div>
        <div class="row">
            <div class="col d-flex">
                <button class="btn btn-lg btn-primary mx-auto button-dark" (click)="login()">Sign in</button>
            </div>
        </div>
    </div>
</div>
